.reportBody{
    display: flexbox;
    width: max-content;
    padding-bottom: 120px;
    height: 300px;
    margin-left: 34%;
    /*border-color: #464544; border: 3px solid; border-radius: 5px;*/
    justify-content: center;
    align-items: center;
    align-self: center;
}

.reportDateRef {
    padding-top: 70px;
    width: 600px;
}

.reportInfoBody{
    border-color: #464544; border: 3px solid; border-radius: 5px;
    margin: 10px; margin-bottom: 10px;
    color: black;
    font-size: medium;

}

.reportInfoGrid {
    display: grid;
    grid-template-columns: 100px 100px; column-gap: 390px;
}

.tableContainer {
    width: 100%;
    height: 300px; /* ajuste conforme necessário */
    overflow: hidden;
  }
  
  .tableScroll {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  
  .reportText{
    border-color: #464544; border: 3px solid; border-radius: 5px;
  }