body {
    overflow-x: auto;
    overflow-y: auto;
    color: black;
    height: 1500px;
}

.dateLabelGrid {
    display: grid;
    grid-template-columns: 40px 40px; column-gap: 30px;
    grid-template-rows: 60px;
}